@import "../helpers/variables";


.title {
    padding: 20px 0;  

    @include respond-to('small'){
        h2 {
            font-size: 2.5vw;
        } 
    }
     
}

.pj-header {
    text-align: center;
    padding: 10px;
    display: block;

    @include respond-to('small'){
        flex-basis: 90%;
    }


    h1 {
        margin-bottom: 10px;
    }

    p {
        color: $secondary-text;
    }
}