@import "../helpers/variables";


.title {
    padding: 20px 0;  

    @include respond-to('small'){
        flex: 1 1 100%;

        h2 {
            font-size: 2.5vw;
        } 
    }

    @include respond-to('medium'){
        h2 {
            font-size: $twenty-four;
        } 
    }
     
}

.pj-header {
    text-align: $center-align;
    padding: 10px;
    display: block;
    margin: $center;

    @include respond-to('small'){
        flex-basis: 90%;
    }

    @include respond-to('large'){
        padding: 20px 80px;

        h1 {
            font-size: $twenty-nine;
        }
    }


    h1 {
        margin-bottom: 10px;
    }

    p {
        color: $secondary-text;
        max-width: 685px;
        margin: $center;
    }
}

%grid-pattern {
    grid-column: $full-grid; 
    padding: 20px 30px;
}

%wrapper {
    max-width: 1260px;
    margin: $center;

    display: flex;
    flex-wrap: wrap;
}