
// Colors

$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(248, 248, 248);

$black: rgba(0, 0, 0, 1);
$white: rgb(255, 255, 255);
$blue: rgba(14, 110, 212, 0.95);

$primary-text: rgba(0, 0, 0, 0.87);
$secondary-text: rgba(15, 15, 15, 0.7);

$border-color: rgba(9, 110, 218, 0.82);


// Fonts
$cabin: 'Cabin', sans-serif;

// Font Size
$twenty-nine: 1.8125rem;
$twenty-eight: 1.75rem;
$twenty-four: 1.5rem;
$nineteen: 1.1875rem;
$sixteen: 1rem;
$fifteen: 0.9375rem;
$fourteen: 0.875rem;

// Text Aling

$center-align: center;

// Box shadow

$nav-shadow: 5px 5px 20px 0 rgba(75, 91, 105, 0.15);
$box-shadow: 4px 4px 18px 1px rgba(46,61,73,.2);
$box-shadow-hover: 2px 4px 8px 0 rgba(46,61,73,.2); 
$img-shadow: 0px 0px 15px 5px rgba(75, 91, 105, 0.2);

// Breakpoints

$breakpoints: (
  'small': (min-width: 650px),
  'medium': (min-width: 900px),
  'large': (min-width: 1200px),
  'huge': (min-width: 1800px),
);

// Margin and Padding

$base-space: 5px;
$center: 0 auto;


// Height and Width

$responsive-width: 100%;
$responsive-height: 100%;

// Grid 
$full-grid: span 12;


//Nav

$nav-height: 64px;
$height-inherited: 100%;







