@import "../helpers/_variables";

html {
    font-size: 100%;

    body {
        font-size: $fifteen;
        color: $primary-text;
        letter-spacing: 0.05rem;
        word-spacing: 0.06rem; 

        .grid > *:nth-child(even) {
            background-color: $secondary-color;
        }

        h1 {
            font-size: $twenty-four;
            font-family: $cabin;
        }

    
        ul li {
            display: inline-block;
        }
        
        a {
            text-decoration: none;
            color: $primary-text;
        }      
    }     
}


