@import "../helpers/variables";

.about {
    margin: $center;
    grid-column: $full-grid;  

    .picture {
        width: $responsive-width - 60%;
        max-width: 250px;
        height: auto;
        margin: 20px auto;
        
        
        img {
            margin: $center;
            display: block;
            border-radius: 50%;
            box-shadow: $img-shadow;
        }
    }

    .description {
        max-width: 1120px;
        width: $responsive-width - 10%;
        margin: 40px auto;
        line-height: 1.4rem;
        font-size: $fifteen;

        p {
            margin-bottom: 3px;
        }

        @include respond-to('large'){
            font-size: $sixteen;
        }
    }
}