@import "../helpers/variables";
@import "../helpers/mixins";

.free-projects {
    grid-column: span 12; 
    padding: 20px 30px;

    .codeCamp-wrapper {
        max-width: 1260px;
        margin: 0 auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include respond-to('small') {
            justify-content: space-between;
        }   
    }
}