@import "../helpers/variables";

.footer {
    grid-column: $full-grid;
    background: linear-gradient(45deg ,#242424, #3b3b3b);

    text-align: $center-align;
    color: $white;

    .ft-title {
        padding: 30px 0 10px 0;
    }
    
    .author {
        margin-bottom: 10px;
        font-size: $fourteen;
    }
}