@import "../helpers/variables";

.future {
    grid-column: span 12; 
    padding: 20px 30px;

    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    justify-content: center;

    text-align: center;

    .icon {
        color: $black;
        margin: 10px 0 10px 0;
    }
    

    .description {
        color: $secondary-text;
        font-size: 0.9375rem;
        padding-bottom: 10px;
    }
}