@import "../helpers/variables";

.future {
    @extend %grid-pattern;    

    .future-wrapper {
        @extend %wrapper;
        text-align: center;
        justify-content: space-between;

        @include respond-to ('medium'){
            .block {
                flex-basis: 32%;
            }
    
            .icon.code {
                height: 75px;
                line-height: 75px;
            }
        }

        @include respond-to ('medium'){
            .block {
                flex-basis: 30%;
            }
        }

        .icon {
            color: $black;
            margin: 10px 0 20px 0;
        }
        
    
        .description {
            color: $secondary-text;
            font-size: $fifteen;
            padding-bottom: 10px;
        }
    } 
}