@import "../helpers/variables";

.header {
    position: fixed;
    z-index: 999;
    height: $nav-height;
    width: $responsive-width;
    background: $primary-color;
    top: 0;

    box-shadow: $nav-shadow;
}