@import "../helpers/variables";

.header {
    position: fixed;
    z-index: 999;
    height: $nav-height;
    width: $responsive-width;
    background: $primary-color;
    top: 0;

    transition: opacity .35s ease-in-out;

    box-shadow: $nav-shadow;
}

.fade-out {
    opacity: 0;
  }