@import "../helpers/variables";

.intro-image {
    grid-column: span 12;
    background: url("../images/blurred-img.jpg") 0 30% no-repeat;
    background-size: 100% 1300px; 
    width: $responsive-width;
    height: 400px;
    position: relative;
    
    margin-top: 63px;

    .filter {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.25;
        background: linear-gradient(to bottom,  #fcfcfc 20%, #f3f3f3 50%, #ececec);
    }

    @keyframes fadeIn {
        from {
          opacity: 0;
          transform: scale3d(0.9, 0.9, 0.9);
        }
      
        to {
          opacity: 1;
        }
      }
      
    .sentence {
        font-size: 1.75rem;
        position: absolute;
        top: 12.5%;
        right: 10%;
        bottom: 12.5%;
        left: 10%;
      
        max-width: 1260px;
        margin: 0 auto;
        height: 300px;

        display: flex;
        align-items: center;
        justify-content: center;

        span {
            text-align: center;
            color: rgba(0, 0, 0, 1);

            animation: fadeIn 1.5s;
        }
    }
}

