.navbar {
    margin: $center;
    max-width: 1260px;
    width: $responsive-width - 10%;
    height: $height-inherited;

    display: flex;
    align-items: center;

    .logo {
        height: $height-inherited;
        margin-right: auto;
        padding: 5px;

        a{
            height: $height-inherited;
            display: flex;
            align-items: center;

            object {
               padding: $base-space;
               margin-left: $base-space;
            }
        }   
    }

    .menu {
       height: $height-inherited;
       display: flex;

       li {
           margin-right: $base-space;
           display: flex;
        
           .menu-options {
               padding: 0 5px; 
               position: relative;
               transition: 5s;

               &:hover{
                   color: $secondary-text;
               }

               &::before {
                    content: '';
                    height: $nav-height;
                    display: inline-block;
                    vertical-align: middle;
               }
               

                &::after {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: $responsive-width;
                    height: 1px;
                    background: $border-color;
                    content: '';
                    opacity: 0;
                    
                    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
                    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
                    transition: height 0.3s, opacity 0.3s, transform 0.3s;
                    -webkit-transform: translateY(-20px);
                    -moz-transform: translateY(-20px);
                    transform: translateY(-20px);
                }

                &:focus:after,
                &:hover:after {
                    
                    height: 2px;
                    opacity: 1;
                    -webkit-transform: translateY(-2px);
                    -moz-transform: translateY(-2px);
                    transform: translateY(-2px);
                }
           }
       }
    }
}