@import "../helpers/variables";

.odin-projects {
    grid-column: span 12; 
    padding: 20px 30px;

    @include respond-to('small') {
        display: flex;
        flex-wrap: wrap;
        // align-items: center;
        justify-content: center;
    }
}