@import "../helpers/variables";

.odin-projects {
    grid-column: span 12; 
    padding: 20px 30px;

    .odin-wrapper {
        max-width: 1260px;
        margin: 0 auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @include respond-to('small') {
            justify-content: space-around;
        }

        @include respond-to('large') {
            justify-content: space-between;
        }
    }

    
}