@import "../helpers/variables";

.odin-projects {
    @extend %grid-pattern;

    .odin-wrapper {
        @extend %wrapper;
        justify-content: center;

        @include respond-to('small') {
            justify-content: space-around;
        }

        @include respond-to('large') {
            justify-content: space-between;
        }
    }

    
}