@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://fonts.googleapis.com/css?family=Cabin");
.pj-header {
  text-align: center;
  padding: 10px;
}

.pj-header h1 {
  margin-bottom: 10px;
}

.pj-header p {
  color: rgba(15, 15, 15, 0.7);
}

.ph-contact {
  grid-column: span 12;
  height: 300px;
}

.ph-footer {
  grid-column: span 12;
  background: linear-gradient(130deg, #242424, #434343);
  height: 100px;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

body {
  font-family: 'Lato', Verdana, Arial, sans-serif;
}

html {
  font-size: 100%;
}

html body {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.05rem;
  word-spacing: 0.06rem;
}

html body .grid > *:nth-child(even) {
  background-color: #f8f8f8;
}

html body h1 {
  font-size: 1.5rem;
  font-family: "Cabin", sans-serif;
}

html body ul li {
  display: inline-block;
}

html body a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  position: fixed;
  z-index: 999;
  height: 64px;
  width: 100%;
  background: white;
  top: 0;
  box-shadow: 5px 5px 20px 0 rgba(75, 91, 105, 0.15);
}

.header .navbar {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
}

.header .navbar .logo {
  height: 100%;
  margin-right: auto;
}

.header .navbar .logo a {
  height: 100%;
  display: flex;
  align-items: center;
}

.header .navbar .logo a object {
  padding: 5px;
  margin-left: 5px;
}

.header .navbar .menu {
  height: 100%;
  display: flex;
}

.header .navbar .menu li {
  margin-right: 5px;
  display: flex;
}

.header .navbar .menu li .menu-options {
  padding: 0 5px;
  position: relative;
  transition: 5s;
}

.header .navbar .menu li .menu-options:hover {
  color: rgba(15, 15, 15, 0.7);
}

.header .navbar .menu li .menu-options::before {
  content: '';
  height: 64px;
  display: inline-block;
  vertical-align: middle;
}

.header .navbar .menu li .menu-options::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(9, 110, 218, 0.82);
  content: '';
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  transform: translateY(-20px);
}

.header .navbar .menu li .menu-options:focus:after, .header .navbar .menu li .menu-options:hover:after {
  height: 2px;
  opacity: 1;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}

.intro-image {
  grid-column: span 12;
  background: url("../images/blurred-img.jpg") 0 30% no-repeat;
  background-size: 100% 1300px;
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 63px;
}

.intro-image .filter {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.25;
  background: linear-gradient(to bottom, #fcfcfc 20%, #f3f3f3 50%, #ececec);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 0.9);
  }
  to {
    opacity: 1;
  }
}

.intro-image .sentence {
  font-size: 1.8rem;
  position: absolute;
  top: 12.5%;
  right: 10%;
  bottom: 12.5%;
  left: 10%;
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-image .sentence span {
  text-align: center;
  color: black;
  animation: fadeIn 1.5s;
}

.about {
  margin: 0 auto;
  grid-column: span 12;
}

.about .picture {
  width: 40%;
  max-width: 250px;
  height: auto;
  margin: 20px auto;
}

.about .picture img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 5px rgba(75, 91, 105, 0.2);
}

.about .description {
  max-width: 1140px;
  width: 90%;
  margin: 40px auto;
  line-height: 1.4rem;
  font-size: 0.9375rem;
}

.odin-projects {
  grid-column: span 12;
  padding: 20px;
}

.free-projects {
  grid-column: span 12;
  padding: 20px;
}

.img, object {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

.card {
  font-family: "Cabin", sans-serif;
  background: white;
  padding: 0 30px;
  margin: 20px auto;
  width: 85%;
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 25px 8px rgba(46, 61, 73, 0.2);
}

.card:hover {
  box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, 0.2);
  transition: .3s;
}

.card .title {
  margin: 20px 0;
}

.card .cards-img {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.projects-info-m {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.935rem;
  color: rgba(15, 15, 15, 0.7);
}

.projects-info {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.projects-info div {
  width: 100%;
  height: 100%;
  transform: scale(0.1);
  transition: all ease-in-out .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-info div span {
  text-align: center;
  color: #fff;
  padding: 0 20px;
  font-size: 0.935rem;
}

.projects-info:hover {
  opacity: 1;
}

.projects-info:hover div {
  background: rgba(14, 110, 212, 0.95);
  transform: scale(1);
}
/*# sourceMappingURL=main.css.map */